{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier/recommended"], // prettier 를 eslint 가 실행시키도록 하는 플러그인 설정
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"]
      }
    }
  },
  "rules": {
    "semi": ["error", "always"],
    "import/extensions": "off",
    "no-unused-vars": "off",
    "max-len": "off",
    // "indent": ["error", 4],
    "linebreak-style": "off",
    "no-use-before-define": "off",
    // "no-use-before-define": [
    //   "error",
    //   {
    //     "classes": false
    //   }
    // ],

    // "tabWidth": 4,
    // "semi": true,

    // "prettier/prettier": [
    //   "error",
    //   {
    //     "singleQuote": true,
    //     "parser": "flow"
    //   }
    // ],
    "prettier/prettier": "off",
    // "prettier/prettier": [
    //   "error",
    //   {
    //     "trailingComma": "es5",
    //     // "singleQuote": true,
    //     "printWidth": 100,
    //     // "tabWidth": 4,
    //     "semi": true,
    //     "endOfLine": "auto"
    //   }
    // ], // prettier 의 포맷팅 에러를 lint 에러 리포팅으로 볼 수 있도록 하는 규칙
    "quotes": "off",
    // "prettier/prettier": ["error", { "doubleQuote": true }],
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "object-curly-newline": "off",
    "react/jsx-closing-bracket-location": "off",
    "no-param-reassign": "off",
    // "quotes": [2, "double"],
    "spaced-comment": "off",
    "react/react-in-jsx-scope": "off",
    // "no-unused-vars": "off",
    "arrow-body-style": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-unused-vars": ["warn"]
  }
}
// }

////////////////
// {
//   // "parser": "babel-eslint",
//   "parser": "@typescript-eslint/parser",

//   "env": {
//     "browser": true,
//     "node": true,
//     "es6": true
//   },

//   "extends": [
//     "eslint:recommended",
//     "plugin:prettier/recommended",
//     "plugin:react-hooks/recommended"
//   ],
//   "plugins": ["@typescript-eslint"],
//   "rules": {
//     "no-undef": "off"
//   },
//   "settings": {
//     "react": {
//       "version": "detect"
//     }
//   },
//   "overrides": [
//     {
//       "files": ["*.ts", "*.tsx"],
//       "rules": {
//         "@typescript-eslint/no-unused-vars": [2, { "args": "none" }]
//       }
//     }
//   ]
// }
